* {
    font-family: "Roboto", "sans-serif";
  }
  body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(212, 211, 211);
  }
  nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 1, 21);
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
  }
  .logo {
    margin-left: 13px;
    font-size: 19px;
  }
  .logo:hover {
    color: rgb(3, 212, 212);
  }
  nav ul {
    display: flex;
    align-items: center;
    margin-right: 13px;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    text-decoration: none;
    margin-inline: 20px;
    color: white;
    font-size: 20px;
  }
  ul li a:hover,
  ul li a.active {
    color: rgb(3, 212, 212);
    font-weight: 600;
  }
  .icon {
    display: none;
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
  }
  .main {
    display: flex;
    justify-content: center;
    margin-top: 155px;
  }
  .maintext h1 {
    font-size: 55px;
    color: rgb(3, 179, 179);
  }
  
  .maintext h2 {
    font-size: 33px;
  }
  .maintext button {
    width: 120px;
    height: 34px;
    background-color: rgb(3, 123, 123);
    color: white;
    font-size: 18px;
    border: none;
  }
  .maintext button:hover {
    border: 2px solid rgb(3, 163, 163);
    background-color: transparent;
    color: black;
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .cards .crd {
    margin-inline: 22px;
    text-align: center;
  }
  .crd i {
    color: rgb(248, 118, 3);
  }
  
  .crd img {
    width: 300px;
    height: 340px;
  }
  .card i {
    color: rgb(248, 118, 3);
    position: relative;
    top: 11px;
  }
  .crd img {
    width: 300px;
    height: 340px;
  }
  .crd h3 {
    margin-top: 3px;
  }
  .crd img {
    width: 300px;
    height: 340px;
  }
  
  .head {
    padding: 65px;
    text-align: center;
  }
  .head span {
    color: orangered;
  }
  .reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .reviews .rcard {
    height: 240px;
    width: 260px;
    background-color: #fff;
    text-align: center;
    padding: 16px;
    margin-inline: 20px;
  }
  .crd img:hover {
    width: 42%;
    transform: scaleY(2);
    transform: scaleX(2);
    cursor: pointer;
  }
  .rcard button {
    width: 90px;
    height: 30px;
    background-color: rgb(3, 165, 165);
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog .blogcard {
    width: 300px;
    /* height: 340px; */
    text-align: center;
    background-color: #fff;
    margin-inline: 22px;
    padding: 11px;
    border-radius: 5px;
  }
  
  .blogcard img {
    width: 100%;
    border-radius: 5px;
  }
  
  .blogcard a {
    padding: 4px 20px;
    background-color: rgb(3, 151, 151);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  .blogcard:hover {
    background-color: gray;
    transition: 1s ease;
    cursor: pointer;
  }
  .rcard:hover {
    background-color: rgb(155, 154, 154);
    transition: 1s ease;
  }
  
  .connect {
    text-align: center;
  }
  .connect input {
    width: 340px;
    padding: 8px;
    font-size: 18px;
    background-color: transparent;
    margin-top: 11px;
    border: 2px solid black;
  }
  .reviews #more {
    cursor: pointer;
  }
  
  .connect button {
    width: 130px;
    height: 36px;
    background-color: rgb(1, 143, 143);
    color: #fff;
    font-size: 20px;
    border: none;
    margin-top: 22px;
    cursor: pointer;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 44px;
    margin-top: 33px;
    color: white;
  }
  .footer a {
    cursor: pointer;
    color: aquamarine;
    text-decoration: none;
  }
  .footer a:hover {
    color: white;
  }
  
  /* item Page css */
  .itemPage {
    /* display: flex; */
    display: none;
    margin-top: 33px;
    margin-left: 25px;
  }
  
  .itemPage img {
    width: 400px;
  }
  .itemPage.itemText {
    margin-inline: 24px;
  }
  .itemText h2 {
    color: rgb(1, 167, 1);
  }
  .itemPage input {
    width: 30px;
    padding: 4px;
    font-size: 20px;
  }
  .itemText a {
    padding: 4px 20px;
    background-color: orangered;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  /* buy page */
  
  .buyPage {
    display: none;
    width: 40px;
    background-color: #fff;
    padding: 22px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 40%);
    top: -15%;
    border-radius: 4px;
  }
  
  .buyText input {
    width: 95%;
    padding: 7px;
    border: 2px solid black;
    margin-top: 8px;
    font-size: 18px;
  }
  
  .buyPage .cross {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(171, 170, 170);
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buyText button {
    width: 120px;
    height: 34px;
    background-color: rgb(1, 125, 125);
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 22px;
  }
  
  .buyText select {
    padding: 4px;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    nav ul {
      display: none;
    }
    .icon {
      display: flex;
    }
    .showData {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 58px;
      background-color: rgb(49, 47, 47);
      width: 100%;
      text-align: center;
      height: 240px;
      gap: 20px;
      padding: 0%;
    }
    .maintext h1 {
      font-size: 40px;
    }
    .maintext h2 {
      font-size: 24px;
    }
    .crd img {
      width: 71%;
    }
    .connect input {
      width: 65%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .main img {
      width: 95%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .main {
      display: block;
      text-align: center;
    }
    .main img {
      margin: top 20px;
    }
  }
  @media only screen and (max-width: 1008px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  }